body {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Norse-Bold;
  src: url(Norse-Bold.otf);
}

.left a {
  color: white;
}

.right a {
  color: #596d48;
}

.empty {
  height: 75px;
}

.logotext {
  padding-top: 20px;
  text-align: center;
}

.icon {
  height: 100px;
  width: auto;
}

.logo {
  color: white;
  position: absolute;
  top: 150px;
  background-color: black;
  width: 400px;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  gap: 10px;
  font-size: 4em;
  font-family: "Norse-Bold";
}

.background {
  height: 800px;
  width: 400px;
  object-fit: cover;
}

.left {
  position: relative;
}

.attr {
  position: absolute;
  left: 90px;
  bottom: 35px;
  color: white;
}

.right {
  background-color: rgb(210, 218, 221);
  height: 800px;
}

.blurb {
  margin-block: 50px;
  margin-inline: 25px;
  font-weight: bold;
  font-size: 1.3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs {
  background-color: white;
  border-top: 2px solid gray;
  border-radius: 2px;
  box-shadow: 1px 3px 2px gray;
}

button {
  appearance: none;
  width: 150px;
  margin-inline: 25px;
  margin-top: 15px;
  background-color: #596d48;
  font-family: inherit;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
}

.row {
  padding-inline: 25px;
  padding-block: 5px;
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: flex-start;
}

.entry {
  display: flex;
  flex-direction: column;
}

input {
  appearance: auto;
  width: 175px;
  margin-bottom: 10px;
}

label {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(69, 71, 71);
}

legend {
  padding-inline: 25px;
  padding-block: 10px;
  color: rgb(69, 71, 71);
  font-weight: 700;
  font-size: 1.2rem;
}

input:focus {
  box-shadow: 1px 1px 5px gray;
}

.right p {
  margin-inline: 25px;
}
